/* Change a bit default ModestaCSS values */
.fullscreen h1.title { margin-bottom: 0; letter-spacing: 2px; }
.undertitle { font-style: italic; }
.box-container p { font-size: 18px; margin-bottom: .2em; }

/* Add a pointer to arrow <span> */
.info-button { cursor: pointer; } Oct

/* Add some spacing to the info on "second page" for more depth */
.info-container { padding-left: 2.5em; }

/* Remove border-radius standard from ModestaCSS */
.btn { border-radius: 0; }

/* Custom emojis */
.bunker-icon { background-image: url('../images/bunker-icon.webp'); }
.pokerface-nick { background-image: url('../images/pokerface-nick.png'); }
.nexchan { background-image: url('../images/nexchan.png'); }
.localserver { background-image: url('../images/main.ico'); }
.minerunner { background-image: url('../images/minerunner1.png'); }
.l0s4_staff { background-image: url('https://cdn.discordapp.com/emojis/764534339953623050.png'); }
.custom {
  background-image: url('https://twemoji.maxcdn.com/2/svg/2615.svg');
  vertical-align: -.3em;
  height: 1.25em;
  width: 1.25em;
  background-size: 1.25em 1.25em;
}

/* R e s p o n s i v e */
@media (max-width: 550px) {
  .info-container { padding-left: 0; }
}

/*R e e e e e e e e  e */
/* .rainbow {
  /* text-align: center;
  text-decoration: underline; */
  /* font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px; 
} */

.rainbow_text_animated {
  background: linear-gradient(to right, #FF0000, #FF6400, #FFF000, #2EFF00, #00FFDC, #0008FF, #FF00FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: animation1 6s ease-in-out infinite;
  background-size: 400% 100%;
}
.rainbow_label_animated {
  background: linear-gradient(to right, #FF0000, #FF6400, #FFF000, #2EFF00, #00FFDC, #0008FF, #FF00FF);
  animation: animation1 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes animation1 {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}


.VER_dev_label {
  background: linear-gradient(to right, #0652dd, #182C61);
  animation: animation1 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.DEF_user_label {
  background: #06dd11;
  background-size: 400% 100%;
}

.l0s4_staff_label {
  background: linear-gradient(to right, #000000, #949494);
  animation: animation1 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.discord_bot_confirmed_label {
  background: linear-gradient(to right, #0004fa, #00ccff, #0004fa);
  animation: animation1 6s ease-in-out infinite;
  background-size: 400% 100%;
}